<div class="jumbotron">
    <h3>Vincular tarefas que são requisitos para a tarefa: {{tarefaP.titulo}}</h3>
    <table ng-show="tarefas.length > 0" class="table table-striped">
        <tr>
            <th></th>
            <th>Título</th>
            <th>Descrição</th>
            <th>Tipo</th>
        </tr>
        <tr ng-repeat="t in tarefas">
            <td><input type="checkbox" ng-model="t.selecionado" /></td>
            <td>{{t.titulo}}</td>
            <td>{{t.descricao}}</td>
            <td>{{t.tipoTarefa}}</td>
        </tr>
    </table>
    <hr/>
    <button class="btn btn-primary btn-block" ng-click="vincularTarefas(tarefas)">Víncular</button>
    <button class="btn btn-primary btn-block" ng-click="voltar()">Voltar</button>
</div>