<div class="jumbotron">
	<h3>Gincanas</h3>
	<input ng-show="gincanas.length > 0" class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Buscar gincanas..."/>
	<table ng-show="gincanas.length > 0" class="table table-striped">
		<tr>
			<th>Título</th>
			<th>Descrição</th>
			<th>Situação</th>
			<th>Tarefas</th>
			<th>Grupos</th>
			<th>Trello</th>
			<th>Ação</th>
		</tr>
		<tr ng-repeat="g in gincanas | filter:criterioDeBusca">
			<td><a href="#/editarGincana/{{g.id}}">{{g.titulo}}</a></td>
			<td>{{g.descricao}}</td>
			<td>{{g.situacao | situacaoGincana}}</td>
			<td ng-show="{{g.situacao != 0}}" class="text-center">-</td>
			<td ng-show="{{g.situacao == 0}}"><a href="#/tarefasGincana/{{g.id}}">Cadastrar</a></td>
			<td ng-show="{{g.situacao != 0}}" class="text-center">-</td>
			<td ng-show="{{g.situacao == 0}}"><a href="#/gruposGincana/{{g.id}}">Cadastrar</a></td>
			<td ng-show="{{g.situacao == 0}}" class="text-center">-</td>
			<td ng-show="{{g.situacao != 0}}"><a href="{{g.trello_UrlBoard}}" target="_blank">Visualizar</a></td>
			<td ng-show="{{g.situacao == 0}}"><button type="button" class="btn btn-default btn" ng-click="ativarGincana(g, $index)">Ativar</button></td>
			<td ng-show="{{g.situacao == 1}}"><a href="#/monitorarGincana/{{g.id}}">Monitorar</a></td>
			<td ng-show="{{g.situacao == 2}}" class="text-center">-</td>
		</tr>
	</table>
	<hr/>
	<a class="btn btn-primary btn-block" href="#/novoGincana">Nova Gincana</a>
</div>