<div class="jumbotron">
    <input ng-show="grupos.length > 0" class="form-control" type="text" ng-model="criterioDeBusca" placeholder="Buscar grupos..."/>
	<table ng-show="grupos.length > 0" class="table table-striped">
		<tr>
			<th>Nome</th>
		</tr>
		<tr ng-repeat="g in grupos | filter:criterioDeBusca">
			<td><a href="#/editarGrupo/{{g.id}}">{{g.nome}}</a></td>
		</tr>
	</table>
	<hr/>
	<a class="btn btn-primary btn-block" href="#/novoGrupo/{{gincana.id}}">Novo Grupo</a>
	<a class="btn btn-primary btn-block" href="#/gincanas">Voltar</a>
</div>