.jumbotron {
	width: 700px;
	text-align: center;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-top: 60px;
}
h3 {
	margin-bottom: 30px;
}
.table {
	margin-top: 20px;
}
.form-control {
	margin-bottom: 5px;
}
.selecionado {
	background-color: yellow;
}
.negrito {
	font-weight: bold;
}
hr {
	border-color: #999;
}

.ribbon {
	position: absolute;
	top: 0px;
	right: 30px;
	width: 20px;
	height: 40px;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #EEE transparent;
	cursor: pointer;
	background-color: #EE0000;
}
.ribbon:hover {
	height: 41px;
}