<ion-view view-title="Gincanas">

    <ion-content class="padding">
        <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="getGincanas()">
        </ion-refresher>
        <div class="card" ng-repeat="g in gincanas" ng-click="abrirGincana(g)">
            <div class="item item-divider">
                {{g.titulo}}
            </div>
            <div class="item item-text-wrap">
                {{g.descricao}}
            </div>
        </div>
    </ion-content>

</ion-view>